header{
    margin-top: -60px;
}
main{
    text-align: center;
}

.img-retorna{
    width: 30px;
    justify-content: left;

}
.nome-app{
    margin-bottom: 60px;
}
.rotas-app{
    width: 150px;
    margin: 0 auto;



}
p{
    margin-top: 1px;
    font-size: 10px;
    font-weight: 500;

}
footer{
    padding: 50px;
    padding-top: 10px;
    margin: 0;


    margin-left: -30px;
    align-self: center;
    width: 95%;
    height: 30px;
    background: rgba(40, 40, 40, 0.3);
    text-align: center;
    line-height: 5px;
    color: white;

}
.park-footer-img{
    margin-bottom: 10px;
}
span{
    color: rgb(40, 40, 40);
}
.footer-desenvolvido{
    margin-top: 40px;
}
.suporte-title{
    margin-bottom: 50px;
}
