@media screen and (max-width: 760px) {
    body{
        background-color:#0090c9;
    }
    form{
        margin: 0 auto;
        width: 100%;
    }
    img{
        width: 30%;
    }
    .termos{
        font-size: 1px;
    }
    .park-footer-img{
        width: 5%;
    }
    footer{
        margin-top: 50px;
        font-size: 10px;
        height: 10px;
    }
    .footer-desenvolvido{
        margin-top: 20px;
    }

}